<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Alitas Agridulce</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/alitas.JFIF" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                1 pizca de canela. <br>
                1 pizca de orégano. <br>
                3 cucharadas de salsa de soya.<br>
                ½ cucharadita de sal de ajo. <br>
                2 cucharadas de salsa catsup. <br>
                ¼ de taza de miel. <br>
                1 barrita de mantequilla derretida.<br>
                ½ cucharadita de cebolla en polvo.<br>
                1 cucharadita de chile piquín.<br>
                ½ cucharadita de pimienta con limón.<br>
                ½ cucharadita de páprika o pimentón.<br>
                2 k  de alitas de pollo, limpias.<br>
                palillos para brochetas.
          </p>
          <p class="col-md-12">
            Preparación <br>
            Mezcla los 11 primeros ingredientes en un tazón. Marina las alitas en la preparación anterior durante dos horas dentro del refrigerador y cúbrelas con papel aluminio. <br> 
            Ensarta las alitas en palillos para brochetas y colócalas en un molde refractario. <br>  Hornéalas durante 25 a 30 minutos a 180º C o hasta que se doren, voltéalas y continúa la cocción 15 minutos más, o si lo prefieres ásalas en la parrilla.<br>  
            Sirve las alitas calientes, y acompáñalas con cebollas de cambray.<br>  
          </p> 
        </section>
    </div>
    
  </body>
</html>