<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>   
  </head>
  <body>     
    <%- include ("Pagina/nave.html") %> 
    <br>       
    <div class="container">
      <h4>Brazo Gitano</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/brazo.jpg" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                3 Huevos <br>
                130 g. deCrema pastelera <br>
                1/2 sobre deLevaduraRoyal <br>
                65 g. de Harina de trigo <br>
                65 g. de Azúcar <br>
                decoración de Azúcar glas.                
          </p>
          <p class="col-md-12">
            Preparación <br>
             1) Batimos las yemas con la mitad del azúcar hasta que blanqueen.
                Por separado, montamos las claras a punto de nieve, añadiendo 
                el resto del azúcar cuando estén casi listas.
                Mezclamos todo con mucho cuidadito. <br>
             2) Añadimos la harina con la levadura poco a poco y en forma de lluvia 
                mientras removemos con la espátula. No queremos grumos. <br>
             3) Forramos una placa de horno con papel de hornear y precalentamos a 180º. 
                Horneamos 20 min. y dejamos que se enfríe fuera del horno. <br>
             4) Extendemos la crema pastelera y enrollamos delicadamente para que no se rompa. 
                Lo espolvoreamos con azúcar glas y listo. <br>             
          </p> 
        </section>
    </div>    
  </body>
</html>