<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Carne Guisada</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/Carne.JFIF" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                1 kg de ternera (si es algo grasa, quedará más tierna). <br>
                2 cebollas. <br>
                3 dientes de ajo. <br>
                400 g de tomate triturado. <br>
                1 vaso de vino tinto. <br>
                1 l de caldo de carne. <br>
                1 cucharadita de tomillo seco. <br>
                1 cucharadita de romero seco. <br>
                Sal y pimienta. <br>
                Aceite de oliva. 
          </p>
          <p class="col-md-12">
            Preparación <br>

            En una olla a presión, echamos un chorrito de aceite y calentamos a fuego fuerte. Cuando esté caliente, añadimos la ternera previamente salpimentada y cortada en cubos para sellarla, que coja color por fuera y quede cruda por dentro. <br>
            
            Comenzamos a elaborar el sofrito. <br>

            Una vez sellada, retiramos la carne de la olla y la reservamos en un plato. Bajamos el fuego a medio y echamos la cebolla y los ajos bien picados. Salpimentamos y los dejamos cocinar durante 10 minutos. Con una cuchara de madera removemos de vez en cuando. <br>
            
            Añadimos el tomate, el tomillo y el romero.
            Tras ese tiempo, agregamos a la misma olla express el tomate triturado, el tomillo y el romero secos y mezclamos con la cuchara. Dejamos cocinar otros 10 minutos más. <br>
            
            Agregamos el vaso de vino.
            Echamos el vino tinto a la mezcla y la ponemos a fuego fuerte. Dejamos que se cocinen los ingredientes durante otros 2 minutos, para que se evapore el alcohol. <br>
            
            Devolvemos la carne del paso 1 a la olla express.
            Con el sofrito casi terminado, devolvemos la carne que habíamos reservado antes a la olla. Mezclamos una vez más con la cuchara de madera durante unos 10 segundos, y vertemos el caldo de carne. Si no tienes, puedes utilizar agua, aunque con el caldo quedará más sabroso. <br>

            Cocinamos todos los ingredientes en la olla rapida.
            Ya con todos los ingredientes en la olla, la tapamos y la ponemos a fuego fuerte. Cuando el pitorro de la olla suba, cambiamos a fuego medio y dejamos cocinar durante 20 minutos. Pasado ese tiempo, la quitamos del fuego y antes de abrirla esperamos media hora, para que la presión de la olla se rebaje. <br>
          </p> 
        </section>
    </div>
    
  </body>
</html>