<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>   
  </head>
  <body>     
    <%- include ("Pagina/nave.html") %> 
    <br>       
    <div class="container">
      <h4>Cerdo Agridulce</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/cerdo.jfif" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                400g de carne de cerdo. <br>
                150g de harina de trigo. <br>
                200ml de cerveza. <br>
                2 zanahorias. <br>
                1 pimiento rojo. <br>
                1 pimiento verde. <br>
                1 cebolla. <br>
                4 o 5 rodajas de piña en conserva (su jugo lo reservamos para la salsa agridulce)
                sal. <br>
                Aceite. <br>
                120g de kétchup. <br>
                60g de azúcar. <br>
                1/2 vaso del jugo de la piña. <br>
                2 cucharadas de vinagre blanco. <br>
                2 cucharadas de salsa de soja. <br>
                1 cucharadita de maizena.            
          </p>
          <p class="col-md-12">
            Preparación <br>
            Pasos 1
            Comenzamos cortando el cerdo en cubos grandes y salpimentamos. <br>
            
            Pasos 2
            En un bol, ponemos la harina y la cerveza, añadimos una pizca de sal y mezclamos con un tenedor, debe quedar una mezcla líquida pero, con algo de cuerpo, metemos aquí los trozos del cerdo y los empapamos bien con esta mezcla. <br>
            
            Pasos 3
            Freímos el cerdo en abundante aceite, es mejor hacerlo en pequeñas tandas, para que el aceite no se enfríe, reservamos el cerdo ya frito sobre papel absorbente. <br>
            
            Pasos 4
            En un wok o en una sartén grande, ponemos  la zanahoria, cortada también en trozos grandes, la cocinamos a fuego fuerte durante unos tres minutos. <br>
            
            Pasos 5
            Ahora añadimos el resto de verdura, así que añadimos los pimientos y la cebolla, también cortadas en trozos grandes, la piña no la añadimos aún. <br>
            
            Pasos 6
            Seguimos cocinando durante unos 5 minutos más, siempre a fuego fuerte y removiendo de a ratos. <br>
            
            Pasos 7
            Mientras se cocina la verdura preparamos la salsa agridulce, en una cazuelita ponemos el kétchup, el azúcar, el 1/2 vaso del jugo de piña, el vinagre blanco, la salsa de soja y la maizena. <br>
            
            Pasos 8
            Calentamos la salsa e integramos todos los ingredientes, removiendo con una cuchara, no es necesario cocinarla más. <br>
            
            Pasos 9
            Cuando tengamos la verdura algo hecha (seguirá durita en el centro) añadimos su parte de sal, se la añadimos ahora y no antes porque no queremos que la verdura sude y se cocine en sus propios jugos. <br>
            
            Pasos 10
            Añadimos también la salsa de soja, los trozos de cerdo y la piña, también cortada en trozos grandes, dejamos cocinar 5 minutos más, removiendo constantemente, antes de servir.         
          </p> 
        </section>
    </div>    
  </body>
</html>