<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>
    <div class="container">
        <br>
        <h4>Tiramisu</h4>
        <section class="main row">
          <br>      
          <img src="/imagen/tiramisu.jpg" alt="" class="col-md-4">
          <p class="col-md-4">  Ingredientes:<br> 
            5 yemas<br>
            1/2 taza de azúcar ( 100 gramos )<br>
            2 cucharadas de gelatina en polvo sin sabor<br> 
            1/2 taza de un vino dulce<br> 
            1/2kg de queso mascarpone a temperatura ambiente<br> 
            1 taza de leche (250cc.)<br> 
            1 taza de crema de leche (nata) (125cc.)<br> 
            3 cucharadas de azúcar impalpable (las, lustre, pulverizada)<br>
            3 claras 2 cucharadas de azúcar<br> 
            1 taza de café cargado<br> 
            3 cucharadas de ron o brandy o amaretto a gusto <br>
            de cada uno. <br>
            Plantillas de vainillas cantidad necesaria.
          </p>
          <br>
          
          <p class="col-md-4">Preparación:<br> El queso mascarpone también se puede sustituir por 350grs de queso philadelphia y 150grs de queso(ricotta o queso crema). <br>Poner el vino dulce en una taza y espolvorear la gelatina. <br>Dejar 10 minutos que se hidrate. <br>Batir con batidora, las yemas con el azúcar hasta que estén espesas y de color claro. <br>Agregar la leche y llevar sobre fuego directo o a baño María siempre revolviendo hasta que la crema nape la cuchara.
          </p>
        </section> 
  </body>
</html>