<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>   
  </head>
  <body>     
    <%- include ("Pagina/nave.html") %> 
    <br>       
    <div class="container">
      <h4>Crema Pastelera</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/cremapastelera.jpg" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                100 gr de azúcar <br>
                50 gr de maicena <br>
                5 yemas de huevo <br>
                2 cucharadas de esencia de vainilla <br>
                500 ml de leche <br>               
          </p>
          <p class="col-md-10">
            Preparación <br>
            1) En una olla suficientemente amplia vamos a introducir
               nuestra leche y esencia de vainilla a fuego medio alto y 
               llevamos a ebullición. 
               Retiramos del fuego y reservamos. <br>
            2) En un bol pondremos las yemas de huevo y el azúcar, mezclamos bien hasta que
               quede una mezcla homogénea. <br>
            3) Con la ayuda de un colador vamos a ir incorporando la maicena que estaremos tamizando
               (el tamizado es para que nos ayude a que no queden grumos y sea mas fácil 
               de mezclar)  y volveremos a mezclar hasta que este todo bien integrado. <br>
            4) Incorporamos la leche que anteriormente habíamos reservado, y lo haremos       
               muy lentamente sin dejar de remover. (Cerciorate que la leche no esta muy 
               caliente antes de juntarla con los demás ingredientes). <br>
            5) Una vez lista nuestra mezcla, la incorporamos en nuestra olla a fuego lento. <br>
            6) Removemos constantemente para evitar que se pegue abajo de la olla y
               esperamos a que espese. <br>
            7) Cuando ya encontremos el espesor adecuado retiramos del fuego.<br>
            8) Se coloca en un embase, se tapa con papel film y se deja enfriar. <br> 
            9) Este paso es el mas mágico, pues ya solo nos queda degustarla en cualquier rico pastel
               que elaboremos.    
          </p> 
        </section>
    </div>    
  </body>
</html>