<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Ensalada de Pasta</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/ensaladadepasta.jpg" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                ½ taza de judías verdes (200 g). <br>
                Papas pequeñas (250 g). <br>
                Pasta tipo penne orgánica (250 g). <br>
                Lata de garbanzos escurridos (150 g). <br>
                1 taza de tomates cherry (150 g). <br>
                1 manojo de rábanos. <br>
                ½ taza de aceitunas (100 g)
                Papas. <br>

                Ingredientes para el aderezo. <br>

                2 cucharadas de vino blanco o vinagre de arroz (30 ml). <br>
                1 cucharada de jugo de limón (15 ml). <br>
                3 cucharadas de eneldo fresco picado (45 g). <br>
                Un chorrito de sal y pimienta. <br>
                ½ taza de aceite de oliva (125 ml)
          </p>
          <p class="col-md-12">
            Preparación <br>
            Primero, haz una mezcla de agua con hielo en un tazón grande y reserva. <br>
            A continuación, hierve una olla grande con agua salada y agrega las judías verdes. 
            Déjalas cocinar durante 15 minutos hasta que ablanden y escúrrelas. <br>
            Usando el mismo agua hirviendo, vierte las patatas y déjalas cocinar 15 minutos. <br>
            Cuando estén blandas, escúrrelas y reserva. <br>
            Mientras tanto, hierve otra olla con agua salada y añade la pasta. Cocínala siguiendo las instrucciones del paquete. <br>
            Cuando esté lista, escúrrela y transfiérela a un tazón grande. <br>
            Cubre con las judías verdes, las patatas, los tomates, los rábanos y aceitunas. <br>
            Si deseas, combina todo para que la ensalada tenga un aspecto más tradicional. <br>

            Preparación del aderezo. <br>
            Incorpora el vinagre y zumo de limón en un recipiente pequeño. Luego, agrega el eneldo, sal y pimienta. <br>
            Seguidamente, vierte poco a poco el aceite de oliva y mezcla para obtener el aderezo.
            Cuando esté listo, viértelo sobre la ensalada de pasta. <br>
            Deja enfriar en la nevera durante unos 30 minutos y sirve.
          </p> 
        </section>
    </div>
    
  </body>
</html>