<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Ensalada de Mango</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/EnsaladaMango.jpg" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                1 lechuga. <br>
                1 cebolla cabezona. <br>
                1 mango. <br>
                1 cucharada de mayonesa. <br>
                3 cucharadas de Crema de Leche Alquería. <br>
                media cucharadita de sal. <br>
                Media cucharadita de azúcar. <br>
                1 cucharada de vinagre.
          </p>
          <p class="col-md-12">
            Preparación <br>
            1. Picamos la lechuga y la cebolla en julianas, picamos el mango en cubos y mezclamos. <br>
            2. Aparte, preparamos la vinagreta con la mayonesa, 
               la Crema de Leche, 
               el vinagre, 
               el azúcar y la sal, 
               adicionamos a la ensalada y listo.
          </p> 
        </section>
    </div>
    
  </body>
</html>