<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Pescado en Salsa</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/pescado.jpg" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                10 ruedas de pescado de 2 dedos de grosor (en este caso usaremos unos 2 kilos de merluza). <br>
                6 dientes de ajo. <br>
                300 gramos de guisantes. <br>
                1 vaso de vino blanco. <br>
                100 ml de caldo de pescado. <br>
                4 cucharadas de perejil picado. <br>
                Sal al gusto. <br>
                2 cucharadas de harina de trigo. <br>
                6 cucharadas de aceite de oliva virgen extra. <br>
                5 huevos duros. <br>
                5 espárragos para decorar el plato.
          </p>
          <p class="col-md-12">
            Preparación <br>
            El primer paso que debemos llevar a cabo para la preparación de este delicioso Pescado en salsa verde es lavar bien las rodajas de pescado para quitar los posibles restos de suciedad y luego las secaremos con papel absorbente. Si lo deseas, al momento de comprar el pescado, pídele al vendedor que te recomiende el más fresco y tierno, y que te lo corte en ruedas de más o menos 2 dedos de grosor. <br>

            En caso de que los más pequeños de la casa también vayan a disfrutar de esta delicia de plato, lo que podemos hacer es comprar lomos congelados sin espinas, así será más fácil para ellos comerlo y lo disfrutarán. Lo mejor en estos casos, es elegir un pescado de sabor suave y con un olor no tan fuerte, como es el caso de la merluza, que es el que estamos usando como ejemplo en esta receta. <br>

            Ahora vamos a tomar las rodajas de merluza y las vamos a salar por ambos lados, y las reservamos. Pelaremos unos dientes de ajo y los picaremos muy delgaditos. Lavaremos el perejil, luego lo sacudimos un poco y lo picaremos muy finito también, esto le da un toque especial al Pescado en salsa verde. <br>

            En una cazuela, preferiblemente de barro, colocaremos los ajos y el aceite de oliva virgen extra, cuando los ajos se doren vamos a añadir la harina y mezclaremos por minuto y medio más o menos. Luego añadimos el vino y removemos con una cuchara de madera, añadiremos también el caldo de pescado caliente, y si no tiene sal, ahora añadiremos un poco. Dejaremos hervir un minuto y agregaremos el perejil. <br>

            Ahora añadimos las ruedas de merluza y los guisantes. Dejaremos cocinar por cada lado durante unos 3 minutos mas o menos, sin pasarnos porque lo podemos estropear. Si quieres puedes poner a cocer los huevos mientras tanto, y listo, luego de que esté cocida cada rueda por los dos lados, tendremos nuestro Pescado en salsa verde así que podremos servirlo de inmediato con los huevos cocidos. <br>
          </p> 
        </section>
    </div>
    
  </body>
</html>
          