<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dulce</title>
    <%- include ("Pagina/head.html") %>
   
    <link rel="stylesheet" href="css/estilo2.css">
  </head>

  <body>     
    <%- include ("Pagina/nave.html") %>         
    <div class="container">
      <br>
      <h4>Quesillo</h4>
      <div>
        <section class="main row">
          <br>       
          <img src="/imagen/quesillo.gif" alt="" class="col-md-6">
            <p class="col-md-6"> Ingredientes: <br>
                1 lata de leche condensada<br>
                5 huevos<br>
                5 cucharadas de azúcar (para el caramelo)<br>
                1 chorrito de ron<br>
                Leche (la misma medida de la lata de leche condensada)<br>
                Vainilla<br>
          </p>
          <p class="col-md-12">
            Preparación <br>
             1) En una lata de metal redonda de galletas tipo danesa agregar ¼ de agua y 
                5 cucharadas de azúcar, mover constantemente pero evitando que se queme, 
                ese es el caramelo y el color debe ser dorado. <br>
             2) Aún caliente, el caramelo se debe esparcir por todo el molde y luego se deja enfríar. <br>
             3) Aparte se pone en la licuadora (o si deseas puedes usar la batidora) los huevos, la leche condensada y la leche, hasta que quede homogéneo (aprox. 3 minutos). <br>
             4) Se añade al final un poquito de vainilla, y/o ron. <br>
             5) Se incorpora la mezcla al molde y se pone a baño de maría durante una hora y 15   minutos. <br> <br>             
              Nota: Si el baño maría es en el horno, la temperatura debe ser de 350° F o de 175° C.
              Puedes introducir un palillo, si sale limpio está listo.
              Metelo al refriguerador por lo menos por 5 horas, desmoldar y servir.
          </p> 
        </section>
    </div>
    
  </body>
</html>